:root {
  --main-font: 'Roboto', sans-serif;
  --title-font: 'Poppins', sans-serif;
  --main-color: #222629;
  --text-color: #fbf8ef;
  --action-color: #86c232;
  --dark-green: #61892f;
  --light-black: #474b4f;
  --light-grey: #e6e3da;
}

/* Reseteo de propiedades de elementos por defecto */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--text-color);
  font-family: var(--main-font);
}

/* Cabia la apariencia de la barra de dezplazamiento */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--action-color);
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: var(--main-color);
  border-radius: 10px;
}
/* Cabia la apariencia de la barra de dezplazamiento */

h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1.125rem;
}

h5 {
  margin: 0;
  font-size: 1.125rem;
}

h6 {
  margin: 0;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

p {
  line-height: 1.6;
}

a {
  color: var(--text-color);
  font-family: var(--main-font);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 1100px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
    text-wrap: balance;
    line-height: 1.2em;
  }
}
/* Reseteo de propiedades de elementos por defecto */

/* CLASES UTILITARIAS */

/* Establece el ancho máximo del contenido del sitio */
.container {
  width: min(100%, 1280px);
  margin: auto;
  padding: 4rem 1rem;
}

@media (min-width: 1100px) {
  .container {
    padding: 6rem 0;
  }
}

/* Establece las propiedades flexbox según corresponda */
.flex-center,
.flex-between,
.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

/* Estilos para el botón de acción */
.action-btn {
  padding: 1rem 1.5rem;
  background-color: var(--text-color);
  border-radius: 10px;
  gap: 0.8rem;
  color: var(--main-color);
  font-weight: bold;
  display: inline-flex;
}

/* Efecto al pasar el cursor sobre el boton principal */
.action-btn:hover {
  background-color: var(--action-color);
  transform: scale(1.04);
  transition: all 200ms;
}

/* Estilos para los botones de las cards de cada mascota */
.secondary-btn {
  padding: 0.75rem 1.5rem;
  background-color: var(--action-color);
  border-radius: 10px;
  color: var(--main-color);
  font-family: var(--title-font);
  font-weight: 600;
}

/* Estilos para cada subtitulo de color verde establecido en las secciones */
.section-subtitle {
  position: relative;
  display: inline-flex;
  color: var(--action-color);
  margin-bottom: 10px;
}

/* Linea delgada que aparece debajo de cada subtitulo */
.section-subtitle::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--action-color);
}
/* CLASES UTILITARIAS */
