.pets .container > .text-container {
  width: 100%;
  text-align: center;
  padding-left: 0;
}

.pets__card-container {
  margin-top: 3rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.pet__card {
  width: 18.75rem;
  height: 25rem;
  background-color: var(--text-color);
  padding: 1rem;
  color: var(--main-color);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.pet__card-img {
  width: 100%;
  height: 100%;
  
  border-radius: 12px 12px 0 0;
}

.pet__card-details {
  width: 100%;
  gap: 0.5rem;
}

.pet__card-text {
  width: 100%;
  padding-block: 0.5rem;
}

.pet__card-text span {
  color: var(--action-color);
  text-transform: capitalize;
}

.pet__card-details > .secondary-btn {
  width: 100%;
  text-align: center;
}
