header {
  position: fixed;
  width: 100%;
  padding: 0.7rem;
  background-color: rgba(71, 75, 79, 70);
  z-index: 99;
}

header .container {
  padding: 0;
}

.site__logo {
  width: 8rem;
}

.menu__button {
  position: fixed;
  bottom: 3vh;
  right: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--action-color);
  border-radius: 50%;
  border: solid 2px var(--main-color);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--main-color);
  transform: translateX(100%);
  transition: all 200ms ease-in;
  z-index: 999;
}

.navbar.open {
  transform: translate(0);
}

.navbar__link {
  cursor: pointer;
  font-size: 1.4rem;
}

.close__button {
  position: absolute;
  bottom: 3vh;
  right: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: var(--action-color);
  border-radius: 50%;
  border: solid 2px var(--main-color);
}

.close__button * {
  width: 2rem;
  height: 2rem;
  fill: var(--main-color);
}

.user__icon-container {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: var(--text-color);
  border: solid 1px #fff;
  border-radius: 10px;
  cursor: pointer;
}

.user__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--main-color);
}

@media (min-width: 1200px) {
  header .container {
    position: relative;
  }

  .menu__button {
    display: none;
  }

  .navbar {
    position: initial;
    top: initial;
    left: initial;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    transform: initial;
    margin-left: -100px;
  }

  .navbar__link {
    position: relative;
    margin-inline: 16px;
    font-size: 1rem;
  }

  .navbar__link::after {
    position: absolute;
    left: -2px;
    bottom: -5px;
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--action-color);
    transform-origin: left;
    transition: all 300ms;
  }

  .navbar__link:hover {
    color: var(--action-color);
  }

  .navbar__link:hover::after {
    width: 100%;
  }

  .user__icon {
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .close__button {
    display: none;
  }
}
