.about {
  background: url('./img/pattern.svg');
  background-color: var(--text-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -00px;
  color: var(--main-color);
}

.about .container {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 1rem;
}

.about .container > .text-container {
  padding-left: initial;
}

.about .container > .img-container {
  margin-top: 2rem;
}

@media (min-width: 1200px) {
  .about {
    background-position: initial;
    padding: 4rem 0;
  }

  .about .container {
    padding: 4rem 0;
  }
}
